{% extends 'base.html' %}
{% load static %}
{% block title %}
Contact us
{% endblock title %}

{% block content %}

<div class="contact-page">
    <h3>Wcart</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum cumque nulla nesciunt maxime laboriosam molestias, eligendi quo quia temporibus. Dolorem, deserunt nulla pariatur earum eum ratione. Obcaecati ipsum esse fuga.</p>
    <h4>Email: abc@gmail.com</h4>
    <h4>Phone: +91 1234567890</h4>
</div>

{% endblock content %}


